.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    padding-top: 70px; 
}

.title {
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(226, 162, 42);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.group {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}


.group li {
    all: unset;
    margin: 20px;
    background-color: #faf6f6;
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    font-weight: 400;
}

.group_title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;   
}

.group_text {
    text-align: left;
}