.footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 0 0 16px ;
}

.logo_footer {
    all: unset;
    width: 160px;
}

.linkedin {
    all: unset;
    width: 26px;
}

.copyright {
    margin-top: 25px;
}