.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6F00;
    padding: 0 21px 0;
}

.logo {
    width: 35%;  
}

.menu {
    all: unset;
    width: 15%;
}

.dropdown {
    background-color: #FF6F00;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: 3s;
    transform: '${openMenu ? '' : ''}';
    padding: 0 21px 0;
    
}

.dropdown_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.close {
    width: 10%;
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
}

.link {
    all: unset;
    font-size: 18px;
    color: #fff;

    margin-bottom: 10px;
    font-weight: 600;  
}
